.menuItem {
  display: flex;
  gap: 10px;
  padding: 16px 0;
  border-bottom: 1px solid #ececec;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.price {
  margin: 0;
}

.contents > h4 {
  margin: 0;
}
