.storeDetail {
  display: flex;
  flex-direction: column;
  background-color: #cecece;
}

.img {
  height: 223px;
}

.img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menuList {
  margin-top: 10px;
}

.menuCategory {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-color: white;
  margin-bottom: 10px;
}

.menuCategory > h3 {
  margin: 0;
  padding-top: 16px;
}
